.elsa {background: url("/assets/images/elsa-white1.jpg");}
.superMario {background: url("/assets/images/super-mario1.jpg");}
.vamparina {background: url("/assets/images/vamparina1.jpg");}
.starWars {background: url("/assets/images/lego-star-wars1.jpg");}

.slider-container {
  margin-top: 50px;
  text-align: center;
}

#table {
  display: table;
  border: 2px solid black;
  margin: 0 auto;
}

#imageList {
  list-style: none;
}

/* Use 300px image size */
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16 {
  display: table-cell;
  width: 75px;
  height: 75px;
  border: 1px solid white;
  background-size: 300px 300px; 
  cursor: pointer;
}

/* Use 375px image size */
@media (min-width: 500px) {
  .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16 {
      width: 93.75px;
      height: 93.75px;
      background-size: 375px 375px; 
    }  
}

/* Use 600px image size */
@media (min-width: 700px) {
  .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16 {
      width: 150px;
      height: 150px;
      background-size: 600px 600px; 
    }  
}

/* Use 750px image size */
@media (min-width: 1200px) {
    .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16 {
      width: 187.5px;
      height: 187.5px;
      background-size: 750px 750px;  
    }  
}
.tile1 {background-position: 0% 0%;}
.tile2 {background-position: 33.33% 0%;}
.tile3 {background-position: 66.666% 0%;}
.tile4 {background-position: 100% 0%;}

.tile5 {background-position: 0% 33.33%;}
.tile6 {background-position: 33.33% 33.33%;}
.tile7 {background-position: 66.66% 33.33%;}
.tile8 {background-position: 100% 33.33%;}

.tile9 {background-position: 0% 66.66%;}
.tile10 {background-position: 33.33% 66.66%;}
.tile11 {background-position: 66.66% 66.66%;}
.tile12 {background-position: 100% 66.66%;}

.tile13 {background-position: 0% 100%;}
.tile14 {background-position: 33.33% 100%;}
.tile15 {background-position: 66.66% 100%;}
.tile16 {background: gray; cursor: default;}

